
    @foreach(var item in Model)
    {
        <div class="card">
            <div>
                <img src="#" alt="" class="card-image">
            </div>
            <div class="card-body">
                <div class="card-title">Tavuk Yemeği</div>
                <div class="card-text">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger">250 TL</button>
            </div>
        </div>
    }
        