@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Home Page";
}
<hr>
<h2>Lütfen tüm alanları doğru girip tekrar deneyiniz !</h2>
<a asp-controller="Create" asp-action="Index" class="btn btn-danger">ÜRÜN EKLE</a>