@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Home Page";
}
@section Styles { 
    <link href="~/css/myCss.css" rel="stylesheet">
}

<h1 style="text-align: center;">Hoşgeldiniz</h1>

<div class="imagem" style="background-color: black;">
    <img src="~/logo.webp" alt="">
</div>
