@{
    Layout = "_LayoutMenu";
}
@section style {
    <style>
        
        #extra{
            background-color: var(--bg-color);
            color: var(--witeColor);
        }

        #extra #icon{
            background-color: var(--icon-bg);
        }
    </style>
}

@section idExtra {
    id="extra"
}

@section iconExtra {
    id="icon"
}

<hr class="divider">
<div class="sub-menu">
    <ul>
        <li><a class="active" href="#cerez">Çerezler</a></li>
        <li><a href="#tatli">Tatlılar</a></li>
    </ul>
</div>
</div>

<!---------menu food list---------->
<div class="main-detail" id="detail">
<h2 class="main-title">Extralar</h2>
<div class="detail-card" id="cerez">aa</div>
<section>
    <div class="detail-img">
        <h1 class="title-b">ÇEREZLER</h1>
        <img src="~/images/cerez2.jpg" alt="">
    </div>
    
    <div class="detail-wrapper">
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Antep Fıstığı</h4>
                    <p class="price">₺ 80</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Yer Fıstığı</h4>
                    <p class="price">₺ 60</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Badem</h4>
                    <p class="price">₺ 80</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Fındık</h4>
                    <p class="price">₺ 80</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Karışık Çerez</h4>
                    <p class="price">₺ 80</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Popcorn</h4>
                    <p class="price">₺ 40</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Mimoza</h4>
                    <p class="price">₺ 75</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>LUX Çerez</h4>
                    <p class="detail-sub">Antep fıstığı, fındık, badem ve kaju</p>
                    <p class="price">₺ 85</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Jelibon</h4>
                    <p class="price">₺ 55</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Çikolata</h4>
                    <p class="price">₺ 65</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Kaju</h4>
                    <p class="price">₺ 75</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card" id="tatli">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Doritos</h4>
                    <p class="price">₺ 70</p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="aktif">
    <div class="detail-img">
        <h1 class="title-b">TATLILAR</h1>
        <img src="~/images/tatli.jpg" alt="">
    </div>

    <div class="detail-wrapper">
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Sufle</h4>
                    <p class="price">₺ 100</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Kızarrmış Dondurma</h4>
                    <p class="price">₺ 100</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Meyve Tabağı</h4>
                    <p class="price">₺ 200</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>San Sebastian </h4>
                    <p class="price">₺ 100</p>
                </div>
                
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Fıstık Rüyası</h4>
                    <p class="price">₺ 100</p>
                </div>
                
            </div>
        </div> 
        <div class="detail-card">
            <div class="detail-desc">
                <div class="detail-name">
                    <h4>Tiramisu</h4>
                    <p class="price">₺ 90</p>
                </div>
                
            </div>
        </div>
    </div>
</section>
</div>
