@using admin_panel.Entity
@using admin_panel.Data
@using admin_panel.Models
@model IEnumerable<Urun>
@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Ürünler";
}

<h1 style="text-align: center;">Aperatifler</h1>
<hr>
<div class="row">
@foreach(var item in Model)
{
    
        <div class="card col-md-4 mt-3">
            <div>
                <img src="#" alt="" class="card-image">
            </div>
            <div class="card-body">
                <div class="card-title" style="font-weight:900;">@item.Name</div> <!-- Düzeltildi -->
                <div class="card-text">
                    <p>@item.Description</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger">@item.Amount TL</button>
                <a class="btn btn-primary" asp-action="Update" asp-controller="Home" asp-route-id="@item.Id" >Güncelle</a>
            </div>
        </div>
    
}
</div>